<% if params[:invalid_password] == "true" %>
  <p>Invalid password for name <%= params[:name] %></p>
<% end %>

<h1>Log In</h1>

<div style="position:relative; z-index: 2000;">
<%= form_tag logins_path do %>

  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>
  
  <%= submit_tag "Log In" %>
<% end %>
</div>