<!DOCTYPE html>
<html>
<head>
  <title>TheRightBrain</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :masonry %>
  <%= javascript_include_tag :imagesloaded %>
  <%= javascript_include_tag :classie %>
  <%= javascript_include_tag :AnimOnScroll %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/xty1bvd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <%= csrf_meta_tags %>
  <%= render 'nav' %>
</head>
<body>

<%= yield %>
</body>
</html>
