<!DOCTYPE html>
<html>
<head>
  <title>TheRightBrain</title>
  <%= javascript_include_tag :jquery %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta property="og:image" content="/assets/photos/21.jpg"/>
  <meta property="og:title" content="KAITLYN HOVA"/>
  <meta property="og:url" content="www.KaitlynHova.com"/>
  <meta name="twitter:title" content="KAITLYN HOVA">
  
  <link rel="icon" type="image/png" href="/assets/favicon.png">

  <script type="text/javascript" src="//use.typekit.net/xty1bvd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :masonry %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag :fancybox %>
  <%= javascript_include_tag :fancyboxmedia %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/xty1bvd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <%= csrf_meta_tags %>
  <%= render 'nav' %>
  <%= render 'mobilenav' %>
  
  
</head>
<body>

<%= yield %>
  <%= render 'contact' %>
</body>
</html>
